<?xml version="1.0"?>
<configuration>
   <appSettings/>
   <connectionStrings>
     <add name="ContactEntities" connectionString="metadata=res://*/Contact.csdl|res://*/Contact.ssdl|res://*/Contact.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Contact;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
   </connectionStrings>
   <system.web>
      <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
      <compilation debug="true" targetFramework="4.0"/>
      <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
      <authentication mode="Windows"/>
        -->
      <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
      <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
   </system.web>
   <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
   <system.webServer>
      <caching>
         <profiles>
            <add extension=".svc" policy="DontCache" kernelCachePolicy="DontCache" duration="00:00:30"/>
         </profiles>
      </caching>
   </system.webServer>
   <system.serviceModel>
      <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
   </system.serviceModel>
</configuration>